<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jddfun.game">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".JDDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_log"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Act.HomeAct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--QQ登录-开始-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101395087" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--QQ登录-结束-->

        <activity
            android:name=".Act.WelcomeAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.LoginAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.LoginModeAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.ForgetPasswordAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.VerificationCodeLogin"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.RegisterCountAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.PayAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.FundDetailAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.SetUpAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.NoticeCentralityAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.PhonebindingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.AboutUsAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.InfoReceivingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.WealAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.TaskAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Act.IsNotification"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.jddfun.game.Act.JddH5Act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.PublishAct"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Act.BigPictureAct"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Act.SotingActivity"
            android:screenOrientation="portrait"></activity>
        <!--微信登录-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="AppID" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.switfpass.pay.activity.QQWapPayWebView"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--贝富  sdk  start -->
        <activity
            android:name="com.xiaoxiaopay.mp.pay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="XXP_MER_ID"
            android:value="10000741" />

        <!--贝富  sdk  end -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"></meta-data>
        <meta-data
            android:name="APP_CHANNEL"
            android:value="${APP_CHANNEL}"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="${UMENG_MESSAGE_SECRET}" />
    </application>

</manifest>